<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>Network Viz</h1>
        <h2>The best in the biz.</h2>
        <p>Your IP: {{ ip }}</p>
        <p>Your MAC: {{ mac }}</p>
        <p>Last scan at: {{ time }}</p>

        <form action="/profile">
          <button type="submit">Start Here</button>
        </form>
        <table style="width : 100%">
            <tr><th>Network</th><th>IP address</th><th>MAC address</th><th>Device</th></tr>
            {{data|safe}}
        </table>
    </body>
</html>
